@charset "UTF-8";
/* Archivo SCSS del proyecto AmplitudAcademica */
/* Definición de animaciones */
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* DEFINICIÓN DE ESTILOS GENERALES */
* {
  font-family: "Lato", sans-serif;
}

header {
  background-color: white;
}

body {
  margin: 10px;
}

/*esto esta bueno para automatizarlo con each */
.enlace-indice {
  background-color: rgb(32, 31, 31);
  color: #ffc857;
}

.enlace-cursos {
  background-color: rgb(32, 31, 31);
  color: #ffc857;
}

.enlace-aprendizaje {
  background-color: rgb(32, 31, 31);
  color: #ffc857;
}

.enlace-vip {
  background-color: rgb(32, 31, 31);
  color: #ffc857;
}

.enlace-certificaciones {
  background-color: rgb(32, 31, 31);
  color: #ffc857;
}

@media screen and (max-width: 767px) {
  .menu-navegacion {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 100%;
  }
  .logo-aa-principal {
    padding: 0px;
    width: 50%;
    height: 100%;
  }
  .logo-grid {
    justify-content: center;
    padding: 1.5rem;
  }
  .barra-navegacion {
    background-color: #ffc857;
  }
  .barra-navegacion li {
    list-style: none;
    padding: 0.25rem;
  }
  .barra-navegacion li a {
    color: rgb(32, 31, 31);
    text-decoration: none;
  }
  /* DEFINICIÓN DE ESTILOS PARA LA SECCIÓN MAIN */
  .principal {
    background-color: rgba(189, 217, 223, 0.6);
  }
  .carousel-presentacion {
    display: flex;
    justify-content: center;
  }
  /* establece estilo de la sección principal de bienvenida */
  .principal-presentacion-titulo {
    font-weight: 600;
    font-size: xx-large;
    width: 100%;
    text-align: center;
  }
  .presentacion-video {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
  }
  .video-responsive {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  .presentacion-texto {
    padding: 10px;
    margin: 10px;
  }
  /* establece los estilos de las secciones de cards con los imperdibles */
  .principal-card {
    display: flex;
    flex-wrap: wrap;
  }
  .principal-card-titulo {
    font-weight: 600;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  .articulo-card-nombre-curso {
    font-size: large;
    font-weight: 800;
  }
  .articulo-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr 1fr;
    width: 400px;
    height: 600px;
    margin: 10px;
    padding: 20px;
    border: 1px solid rgb(32, 31, 31);
    border-radius: 2%;
  }
  .curso-texto {
    font-size: small;
  }
  /* DEFINICIÓN DE ESTILOS PARA LA SECCIÓN FOOTER */
  .pie-pagina {
    display: grid;
    background-color: #ffc857;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  .barra-footer-logos {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: 50px;
    align-items: start;
    justify-self: auto;
  }
  .barra-footer-contacto {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    font-size: small;
  }
  .footer-texto {
    margin: 5px;
    padding: 5px;
    font-style: italic;
    font-size: small;
  }
  .link-correo {
    color: rgb(32, 31, 31);
    text-decoration: none;
  }
  .img-footer {
    width: 100%;
    height: 100%;
  }
}
/* DEFINICIONES PARA PANTALLAS GENERALES */
@media only screen and (min-width: 768px) {
  /*header */
  .logo-aa-principal {
    padding: 10px;
  }
  .cabecera {
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .menu-navegacion {
    background-image: url("../assets/banner-aa-02.png");
    background-repeat: no-repeat;
    /*background-size: center;*/
    display: grid;
    grid-template-rows: 100px 200px auto;
    grid-template-columns: 100px 1fr;
  }
  .barra-navegacion {
    background-color: #ffc857;
    padding: 0.1rem;
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .barra-navegacion li {
    display: inline;
    list-style: none;
    padding: 0.5rem;
  }
  .barra-navegacion li a {
    color: rgb(32, 31, 31);
    text-decoration: none;
  }
  .logo-aa-principal {
    padding: 0px;
  }
  .logo-grid {
    padding: 1rem;
    height: 100%;
    width: 100%;
  }
  .barra-navegacion {
    background-color: #ffc857;
    padding: 0.1rem;
  }
  .barra-navegacion li {
    list-style: none;
    padding: 0.25rem;
  }
  .barra-navegacion li a {
    color: rgb(32, 31, 31);
    text-decoration: none;
  }
  /* DEFINICIÓN DE ESTILOS PARA LA SECCIÓN MAIN */
  .principal {
    background-color: rgba(189, 217, 223, 0.6);
  }
  /* establece estilo de la sección principal de bienvenida */
  .carousel-presentacion {
    display: flex;
    justify-content: center;
  }
  .principal-presentacion-titulo {
    font-weight: 600;
    font-size: xx-large;
    width: 100%;
  }
  .presentacion-video {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    animation-name: fadein;
    animation-duration: 3s;
  }
  .video-responsive {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  .presentacion-texto {
    padding: 10px;
    margin: 10px;
  }
  /* establece los estilos de las secciones de cards con los imperdibles */
  .principal-card {
    display: flex;
    flex-wrap: wrap;
  }
  .principal-card-titulo {
    font-weight: 600;
    width: 100%;
    padding: 10px;
  }
  .articulo-card-nombre-curso {
    font-size: larger;
    font-weight: 800;
  }
  .articulo-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr 1fr;
    width: 400px;
    height: 600px;
    margin: 10px;
    padding: 20px;
    border: 1px solid rgb(32, 31, 31);
    border-radius: 2%;
  }
  .card {
    width: 18rem;
    transition: width 1s;
  }
  .card:hover {
    width: 36rem;
  }
  .imagen-presentacion {
    height: 50%;
    width: 50%;
  }
  .img-star-rating {
    width: 50%;
  }
  /* DEFINICIÓN DE ESTILOS PARA LA SECCIÓN FOOTER */
  .pie-pagina {
    display: grid;
    background-color: #ffc857;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
  }
  .barra-footer-logos {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: 50px;
    align-items: start;
    justify-self: center;
  }
  .barra-footer-contacto {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    font-size: small;
  }
  .footer-texto {
    margin: 5px;
    padding: 5px;
    font-style: italic;
    font-size: small;
  }
  .link-correo {
    color: rgb(32, 31, 31);
    text-decoration: none;
  }
  .img-footer {
    width: 100%;
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
