

/* DEFINICIONES PARA PANTALLAS GENERALES */
@media only screen and (min-width: 768px)
{

    /*header */

    .logo-aa-principal {
        padding: 10px;
    }

    .cabecera {
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .menu-navegacion {
        background-image: url('../assets/banner-aa-02.png');
        background-repeat: no-repeat;
        /*background-size: center;*/

        display: grid;
        grid-template-rows: 100px 200px auto;
        grid-template-columns: 100px 1fr;
    }

    .barra-navegacion {
        background-color: $amarillo-aa;
        padding: 0.1rem;
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .barra-navegacion li {
        display: inline;
        list-style: none;
        padding: 0.5rem;
    }

    .barra-navegacion li a {
        color: $fondo-aa;
        text-decoration: none;
    }

    .logo-aa-principal {
        padding: 0px;
    }

    .logo-grid {
        padding: 1rem;
        @include sizes(100%, 100%);
    }

    .barra-navegacion {
        background-color: $amarillo-aa;
        padding: 0.1rem;
        li {
            list-style: none;
            padding: 0.25rem;
            a {
                color: $fondo-aa;
                text-decoration: none;
            }
        }
    }

    /* DEFINICIÓN DE ESTILOS PARA LA SECCIÓN MAIN */

    .principal {
        background-color: $fondo-aa-main;
    }

    /* establece estilo de la sección principal de bienvenida */

    .carousel-presentacion {
        display: flex;
        justify-content: center;
    }

    .principal-presentacion-titulo {
        font-weight: 600;
        font-size: xx-large;
        width: 100%;
    }

    .presentacion-video {
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-top: 56.25%;
        animation-name: fadein;
        animation-duration: 3s;
    }

    .video-responsive {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        @include sizes(100%, 100%);
        border: none;
    }

    .presentacion-texto {
        @include mp(10px, 10px);
    }

    /* establece los estilos de las secciones de cards con los imperdibles */
    .principal-card {
        display: flex;
        flex-wrap: wrap;
    }

    .principal-card-titulo {
        font-weight: 600;
        width: 100%;
        padding: 10px;
    }

    .articulo-card-nombre-curso {
        font-size: larger;
        font-weight: 800;
    }

    .articulo-card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1fr 1fr;
        @include sizes(400px, 600px);
        @include mp(10px, 20px);
        border: 1px solid $fondo-aa;
        border-radius: 2%;
    }    

    .card {
        width: 18rem;
        transition: width 1s;
    }

    .card:hover {     
        width: 36rem;
    }

    .imagen-presentacion {
        @include sizes(50%, 50%);
    }

    .img-star-rating {
        width: 50%;
    }
    /* DEFINICIÓN DE ESTILOS PARA LA SECCIÓN FOOTER */ 

    .pie-pagina {
        display: grid;
        background-color: $amarillo-aa;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
    }

    .barra-footer-logos {
        display: grid;
        grid-template-columns: repeat(3, 50px);
        grid-template-rows: 50px;
        align-items: start;
        justify-self: center;
    }

    .barra-footer-contacto {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        font-size: small;
    }

    .footer-texto {
        @include mp(5px, 5px);
        font-style: italic;
        font-size: small;
    }

    .link-correo {
        color: $fondo-aa;
        text-decoration: none;
    }

    .img-footer {
        @include sizes(100%, 100%);
    }

}



 